.presentation-edit-form {
  display: none;
}

.presentation-title {
  float: left;
}

.morris-presentation-block {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.morris-presentation-icons {
  margin-top: 10px;
  i {
	font-size: $icon-size;
	color: #999;
  }
}

.morris-section-title {
  h3 {
	font-size: 18px;
  }
}

.morris-section-title {
  h3 {
	font-size: 18px;
  }
}

.morris-section-addslide, .morris-section-moveslide {
  margin-top: 25px;
  display: none;
}

.morris-presentation-edit {
  float: left;
}

.morris-presentation-delete {
  float: left;
}

.edit_presentation {
  cursor: pointer;
}

.morris-presentation-block {
  position: relative;
  //  overflow: hidden;
  &.confirm-delete {
	.morris-presentation-block-delete {
	  i {
		color: #d9534f;
	  }
	}
	.morris-presentation-block-move,
	.morris-presentation-block-edit {
	  i {
		opacity: 0.4;
	  }
	}
	.morris-presentation-section-slides-wrap {
	  opacity: 0.4;
	  transition: .6s;
	}
  }
  &.update-name {
	.morris-presentation-block-delete,
	.morris-presentation-block-move {
	  i {
		opacity: 0.4;
	  }
	}
	.morris-presentation-block-edit {
	  i {
		color: #48D1CC;
	  }
	}
  }
  &.add-slide-mode {
	.morris-presentation-slide-add {
	  color: #bd750f;
	}
  }
}

.morris-section-delete-confirm, .morris-section-edit-confirm, .morris-slide-delete-confirm {
  position: absolute;
  width: 75%;
  right: 0;
  top: -200px;
  height: 180px;
  z-index: 200;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;

  .message {
	padding: 20px 10px;
	b {
	  font-size: 16px;
	  font-weight: normal;
	  color: #d9534f;
	}
	.btn-link {
	  color: #999 !important;
	}
  }
}

.morris-section-delete-confirm.active, .morris-section-edit-confirm.active, .morris-slide-delete-confirm.active {
  top: 0;
}

.morris-slide-delete-confirm {
  height: auto;
}

.presentation-active {
  background: #2A9A96 !important;
}

.presentation-active i {
  color: white;
}

.slide {
  display: inline;
}

.morris-presentation-slide {
  width: 185px;
  height: 100px;
  background-color: #e6e6e6;
  position: relative;
  float: left;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-style: italic;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  small {
	font-style: normal;
  }
  &.selected {
	opacity: 0.3;
  }
}

.morris-presentation-slide-add {
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 20px;
  color: #999;
}

.morris-presentation-slide-icons {
  position: absolute;
  bottom: 5px;
  > a {
	font-size: 16px;
	color: #999;
  }
}

.morris-presentation-slide-redactor {
  position: absolute;
  right: 10px;
  top: 6px;
  .morris-presentation-slide-edit,
  .morris-presentation-slide-view,
  .morris-presentation-slide-delete {
	display: inline-block;
	margin-right: 20px;
	> a {
	  pointer-events: auto;
	}
  }
  &.active {
	.morris-presentation-slide-delete {
	  .delete_slide {
		pointer-events: none;
		cursor: pointer;
	  }
	}
  }
}

.morris-presentation-slide-title {
  margin-bottom: 10px;
  position: relative;
  min-height: 34px;
}

.morris-presentation-slide-form {
  display: none;
}

.morris-presentation-slide-confirm-form {
  position: absolute;
  width: 75%;
  right: 0;
  top: 0;
  display: none;
}

.buttons_slide {
  i {
	color: #ddd;
  }
}

.morris-delete-confirm-form, .morris-slide-delete-confirm-form {
  position: absolute;
  width: 75.5%;
  right: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.morris-grey-title {
  font-size: 20px;
  color: #999;
  span {
	color: #444;
  }
}

.morris-presentation-slide-tombstone {
  width: 100%;
  background-color: #e6e6e6;
  position: relative;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include headings();
  img {
	width: 100%;
  }

  .icons, .icons-empty {
	position: absolute;
	bottom: 45px;
	left: 0;
	width: 100%;

	> a {
	  font-size: 28px;
	  color: #fff;
	  text-shadow: 1px 1px 0 #000;
	}
	.edit {
	  position: absolute;
	  left: 15px;
	}

	.remove {
	  position: absolute;
	  right: 15px;
	}

	.edit.active, .remove.active, a.remove:active, .remove:focus {
	  color: $azure !important;
	}
  }

  .icons-empty {
	> a {
	  color: #999 !important;
	  text-shadow: none;
	}
  }

  .overlay {
	padding: 5px 10px;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .5);
	font-size: 14px;
	overflow: hidden;
		p {
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			display: -webkit-box;
		}
  }
  &.selected {
	opacity: 0.4;
	transition: 0.5s;
  }
  .description {
	position: absolute;
	top: 50%;
	height: 40px;
	overflow: hidden;
  }
}

.morris-presentation-slide-quote {
  @extend .morris-presentation-slide-tombstone;
  @include headings();
  .overlay {
	height: 68%;
	background-color: transparent;
	overflow: hidden;
  }
}

.morris-presentation-slide-logo, .morris-presentation-slide-icon, .morris-presentation-slide-team, .morris-presentation-slide-tomb {
  @extend .morris-presentation-slide-tombstone;
  padding: 0;
  margin-bottom: 0;

  .icons, .icons-empty {
	> a {
	  color: #adadad;
	  text-shadow: none;
	}
  }

  .form-group {
	position: relative;
  }

  .morris-presentation-slide-logo-name {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #797979;
	display: none;
	padding: 6px 12px;
  }

  .morris-uploader {
	.morris-presentation-slide-logo-popup-link {
	  display: none;
	}
	&.uploaded {
	  ~ .form-group .morris-presentation-slide-logo-name {
		display: block;
	  }

	  .icons {
		> a {
		  color: #fff;
		  text-shadow: 1px 1px 0 #000;
		  z-index: 250;
		}
	  }
	  .morris-presentation-slide-logo-popup-link {
		display: block;
	  }
	}
  }
  &.editing {
	~ .form-group .morris-presentation-slide-logo-name {
	  display: none;
	}

	.icons {
	  > a.edit {
		opacity: 0;
		transition: 0.3s;
	  }
	  > a.remove {
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		z-index: 250;
	  }
	}
  }
}

.morris-presentation-slide-logo-form .select {
  &:selected {
	display: none;
  }
}

.morris-presentation-slide-logo-popup {

  background-color: #fff;

  > h4 {
	font-size: 16px;
	//    margin: 0;
  }
}

.redactor-dropdown,
#redactor-modal-box {
  z-index: 9999;
}

.fancybox-skin {
  background-color: #fff !important;
}

a.morris-presentation-slide-logo-popup-link {
  position: absolute;
  right: 14px;
  top: 8px;
  z-index: 500;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  &:hover, &:active {
	text-decoration: none;
	color: #fff;
  }
}

.morris-redactor-label {
  position: absolute;
  z-index: 2005;
  top: 8px;
  right: 32px;
  font-family: $font-special;
}

.morris-presentation-slide-remove {
  display: none;
}

.morris-presentation-slide-remove.remove-confirm {
  display: block;
}

.morris-presentation-slide-logo-select {
  margin: 0;
  width: 100%;
  position: relative;
  .select {
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	&:focus ~ i {
	  border-color: #aaaaaa;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 170, 170, 0.6);
	  outline: 0 none;
	}
  }
  i {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 34px;
	background: #ebebeb;
	pointer-events: none;
	border: 1px solid #cccccc;
	&:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -5px;
	  margin-left: -10px;
	  border-right: 10px solid transparent;
	  border-left: 10px solid transparent;
	  border-top: 10px solid #404040;
	}
  }
}

.morris-presentation-select-label {
  width: 100%;
  position: relative;
  .morris-presentation-select {
	border-radius: 10px;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
  
  i {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 40px;
	height: 24px;
	background: #fff;
	pointer-events: none;
	&:before,
	&:after {
	  content: '';
	  position: absolute;
	  right: 4px;
	  border-right: 6px solid transparent;
	  border-left: 6px solid transparent;
	}

	&:before {
	  top: 3px;
	  border-bottom: 6px solid #404040;
	}

	&:after {
	  bottom: 5px;
	  border-top: 6px solid #404040;
	}
  }
}

.procedure-label,
.procedure-desc,
.procedure-image {
  display: none;
  &.selected {
	display: block;
  }
}

.sonic {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

.presentation_image {
  font-size: 12px !important;
  top: 34% !important;
}

.morris-uploader {
  .icons, .icons-empty {
	position: absolute;
	bottom: 45px;
	left: 0;
	width: 100%;

	> a {
	  font-size: 28px;
	  color: #999;
	  text-shadow: 1px 1px 0 #000;
	}
	.edit {
	  position: absolute;
	  left: 15px;
	}

	.remove {
	  position: absolute;
	  right: 15px;
	}
  }
}

.overlay-color-picker{
	padding: 10px 0px;

	a {
		padding: 5px;
		font-size: 12px;
		border: 1px solid;
		position: relative;
		background: rgba(0, 00, 0, 0);
		color: grey;
		width: 31px;
		display: inline-block;
	}
}
.overlay-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #09282233;
	z-index: 50;
}