body {
    &.template {
        & > .container {
            .screen-wm-logo {
                position: fixed;
                top: 40px;
                right: 40px;
                width: 160px;
                height: auto;
                z-index: 10;
                img {
                    width: 100%;
                }
            }
        }
        .screen-intro-content {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #fff;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap;
            .info-content {
                position: relative;
                max-width: 550px;
                text-align: center;
                font-size: 24px;
                img.client-logo {
                    opacity: 0;
                    -ms-transform: translateY(30px);
                    transform: translateY(30px);
                    width: 100%;
                    max-width: 200px;
                    margin: 0 auto;
                    transition: all .5s ease-in-out;
                }
                .screen-text {
                    opacity: 0;
                    -ms-transform: translateY(30px);
                    transform: translateY(30px);
                    margin-top: 30px;
                    transition: all .5s ease-in-out;
                }
            }
                
        }
        &.loaded {
            .screen-intro-content {
                img.client-logo {
                    opacity: 1;
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                }
                .screen-text {
                    opacity: 1;
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                    transition-delay: .2s;
                }
            }
        }
    }
}