// COLORS
$brand1: #004349;
$brand2: #364E50;
$brand3: #627579;
$brand4: #A3B9B6;

$brand7: #DDE7E8;

$brand5: #0C7F82;
$brand6: #4FBFA7;

$white: #ffffff;

// FONTS
$font-wmo: Helvetica Neue, Helvetica, Arial, Georgia;
$font-pwc: Georgia, Arial;